@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans:
    "SF Pro Display", "SF Pro Text", "Hiragino Sans", "Hiragino Kaku Gothic ProN",
    "Yu Gothic UI", "Yu Gothic", sans-serif;
  --font-mono:
    "SF Mono", "Roboto Mono", "BIZ UDゴシック", "Hiragino Sans", monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    "SF Pro Display", "SF Pro Text", "Hiragino Sans", "Hiragino Kaku Gothic ProN",
    "Yu Gothic UI", "Yu Gothic", sans-serif;
}

body {
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
}
